@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#drawingArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  font-family: 'Silkscreen', sans-serif;
  color: #b3b3b3;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.25s linear;
}

.buttons {
  font-family: 'Silkscreen', sans-serif;
  color: #b3b3b3;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: 0.25s;
}

.buttons:hover {
  color: black;
}
