@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#drawingArea {
  position: absolute;
  top: 30;
  left: 30;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#text {
  font-family: 'Silkscreen', sans-serif;
  color: #b3b3b3;
}

.nav {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

.name {
  padding: 10px;
  font-family: 'Silkscreen', sans-serif;
  font-size: 16px;
  color: black;
}

.info {
  font-family: 'Silkscreen', sans-serif;
  font-size: 16px;
  margin-left: 10px;
  color: #b3b3b3;
  border: none;
  transition: 0.25s;
}

dialog::backdrop {
  backdrop-filter: blur(1px);
}

.modal {
  font-family: 'neue-haas-grotesk-display', sans-serif;
  color: black;
  width: 375px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.contact {
  color: black;
}

.modal-close {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 2px;
  margin-top: 4px;
  background: none;
  border: none;
}

.restart {
  font-family: 'Silkscreen', sans-serif;
  color: #b3b3b3;
  margin-left: auto;
  padding: 10px;
  transition: 0.25s;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 0.25s linear;
}

.restart:hover {
  color: black;
}

.info:hover {
  color: black;
}
